@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Enough Permissions</title>
</head>
<body>
    <div>
        <h1>You don't have enough permissins for this page</h1>
    </div>
</body>
</html>
