
@{
    ViewBag.Title = "SportsStore: Order Submitted";
}
<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.
<div class="panel-footer">
    @Html.ActionLink("Exit", "List","Product", null,
    new { @class = "btn btn-default" })
</div>

